<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
  </head>
  <body>
    
    <ul>
    <li>{{range $indice, $valor := .}} {{$indice}} - {{$valor}} {{end}} </li>
    </ul>
  </body>
</html>